In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

url = "https://www.imdb.com/search/title/?groups=top_1000&ref_=adv_prv"
headers = {"Accept-Language": "en-US, en;q=0.5"}
results = requests.get(url, headers=headers)

soup = BeautifulSoup(results.text, "html.parser")

#print(soup)

titles = []
years = []
time = []
imdb_ratings = []
metascores = []
votes = []
us_gross = []

movie_div = soup.find_all('div', class_='lister-item mode-advanced')

for container in movie_div:

        #name
        name = container.h3.a.text
        titles.append(name)
        
        #year
        year = container.h3.find('span', class_='lister-item-year').text
        years.append(year)

        #runtime
        runtime = container.p.find('span', class_='runtime').text if container.p.find('span', class_='runtime').text else '-'
        time.append(runtime)

        #IMDB rating
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)

        #metascore
        m_score = container.find('span', class_='metascore').text if container.find('span', class_='metascore') else '-'
        metascores.append(m_score)

        #There are two NV containers, grab both of them as they hold both the votes and the grosses
        nv = container.find_all('span', attrs={'name': 'nv'})
        
        #filter nv for votes
        vote = nv[0].text
        votes.append(vote)
        
        #filter nv for gross
        grosses = nv[1].text if len(nv) > 1 else '-'
        
        us_gross.append(grosses)

#building our Pandas dataframe         
movies = pd.DataFrame({
'movie': titles,
'year': years,
'timeMin': time,
'imdb': imdb_ratings,
'metascore': metascores,
'votes': votes,
'us_grossMillions': us_gross,
})

#cleaning data with Pandas
movies['year'] = movies['year'].str.extract('(\d+)').astype(int)
movies['timeMin'] = movies['timeMin'].str.extract('(\d+)').astype(int)
movies['metascore'] = movies['metascore'].astype(int)
movies['votes'] = movies['votes'].str.replace(',', '').astype(int)
movies['us_grossMillions'] = movies['us_grossMillions'].map(lambda x: x.lstrip('$').rstrip('M'))
movies['us_grossMillions'] = pd.to_numeric(movies['us_grossMillions'], errors='coerce')

# if you want to save pd.concat([movies['year'], movies['metascore'], movies['us_grossMillions']]).to_csv('foo.csv')

print(movies)
movies.shape
movies.ndim

movies.head()

                                                movie  year  timeMin  imdb  \
0                                            Parasite  2019      132   8.6
1                                          Knives Out  2019      131   8.0
2                                         Jojo Rabbit  2019      108   8.0
3                                                1917  2019      119   8.4
4                                       The Gentlemen  2019      113   8.1
5                                          Uncut Gems  2019      135   7.6
6                    Once Upon a Time... in Hollywood  2019      161   7.7
7                                               Joker  2019      122   8.6
8                                      Ford v Ferrari  2019      152   8.1
9                                        Little Women  2019      135   8.0
10                                     The Lighthouse  2019      109   7.7
11                                       The Irishman  2019      209   8.0
12                                  Avengers: Endgame  2019      181   8.5
13                                     Marriage Story  2019      137   8.0
14                                        Toy Story 4  2019      100   7.8
15                           The Shawshank Redemption  1994      142   9.3
16                                  Blade Runner 2049  2017      164   8.0
17                                            Titanic  1997      194   7.8
18                                      The Godfather  1972      175   9.2
19                                    The Dark Knight  2008      152   9.0
20                                     Hidden Figures  2016      127   7.8
21                                      Casino Royale  2006      144   8.0
22                               Inglourious Basterds  2009      153   8.3
23                                          Inception  2010      148   8.8
24                                       Pulp Fiction  1994      154   8.9
25                                       Interstellar  2014      169   8.6
26                               Call Me by Your Name  2017      132   7.9
27                                        The Shining  1980      146   8.4
28                                         Green Book  2018      130   8.2
29                            The Wolf of Wall Street  2013      180   8.2
30  The Lord of the Rings: The Fellowship of the Ring  2001      178   8.8
31              Harry Potter and the Sorcerer's Stone  2001      152   7.6
32                                         Goodfellas  1990      146   8.7
33                                            Dunkirk  2017      106   7.9
34                                         The Matrix  1999      136   8.7
35                                          Gone Girl  2014      149   8.1
36                                       Blade Runner  1982      117   8.1
37                                      The Two Popes  2019      125   7.6
38                                         Fight Club  1999      139   8.8
39                                      Jurassic Park  1993      127   8.1
40                           The Silence of the Lambs  1991      118   8.6
41                                          Gladiator  2000      155   8.5
42                           The Peanut Butter Falcon  2019       97   7.7
43                                            Get Out  2017      104   7.7
44                            Guardians of the Galaxy  2014      121   8.0
45                                  Bohemian Rhapsody  2018      134   8.0
46                      Mission: Impossible - Fallout  2018      147   7.8
47                                 Dazed and Confused  1993      102   7.6
48                                       Forrest Gump  1994      142   8.8
49                                 Back to the Future  1985      116   8.5

    metascore    votes  us_grossMillions
0          96   294274               NaN
1          82   205459               NaN
2          58   149640              0.35
3          78   205939               NaN
4          51    46321               NaN
5          90   113084               NaN
6          83   400243            135.37
7          59   701441            192.73
8          81   157482               NaN
9          91    67029               NaN
10         83    79609              0.43
11         94   252897               NaN
12         78   675448            858.37
13         93   182893               NaN
14         84   161630            433.03
15         80  2196024             28.34
16         81   415755             92.05
17         75   995084            659.33
18        100  1513118            134.97
19         84  2178421            534.86
20         74   183320            169.61
21         80   556341            167.45
22         69  1185967            120.54
23         74  1927231            292.58
24         94  1725891            107.93
25         74  1380440            188.02
26         93   179206             18.10
27         66   836307             44.02
28         69   295053             85.08
29         75  1093067            116.90
30         92  1573400            315.54
31         64   595997            317.58
32         90   955726             46.84
33         94   503460            188.37
34         73  1581499            171.48
35         79   800433            167.77
36         84   657022             32.87
37         75    77529               NaN
38         66  1754140             37.03
39         68   816207            402.45
40         85  1192156            130.74
41         67  1268220            187.71
42         70    34576             13.12
43         84   445981            176.04
44         76   998210            333.18
45         49   410845            216.43
46         86   263280            220.16
47         78   154113              7.99
48         82  1694828            330.25
49         87   983397            210.61

           movie  year  timeMin  imdb  metascore   votes  us_grossMillions
0       Parasite  2019      132   8.6         96  294274               NaN
1     Knives Out  2019      131   8.0         82  205459               NaN
2    Jojo Rabbit  2019      108   8.0         58  149640              0.35
3           1917  2019      119   8.4         78  205939               NaN
4  The Gentlemen  2019      113   8.1         51   46321               NaN